body{margin:0; 
    background: #121212;
    color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    .card{
        border: 20px solid #fff; 
        width: 25vw; border-radius: 10px;
        background: #fff;
    }
    header{ padding: 5vw; text-align:center}

    article{
      background: black;
      box-sizing: border-box;
      padding: 5vw;
      display: grid; 
      grid-template-columns: 1fr 3fr;
      grid-gap: 5vw;
     height: 100vh;
     align-items: center;
     justify-content: center;
    }

    pre{color: #fff; 
    max-height: 80vh;
}

@media (orientation: portrait){
    article{
        grid-template-columns: 1fr;
    }

    .card{ 
        width: 60vw;
        height: auto;
        max-height: none;
        max-width: none;
        justify-self: center;
        align-self: center;
        border: none;
        padding: 4vw;
        vertical-align: bottom;
        
    }
 figure{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100vw; 
     height: 100vh;
     
 }
 figcaption{
     padding: 5vw;
     font-size: 5vw;
     font-weight: 200;

 }
    pre{display: none;}
}