---
layout: base.njk
---
<header>
<h1>{{ title }}</h1>
</header>

<article  id="d01">
    <img class="card" src="d-01.svg" />
    {% highlight "js" %}{% include "./cards/d-01.11ty.js" %}{% endhighlight %}
</article>

<article id="h01">
    <img class="card" src="h-01.svg" />
    {% highlight "js" %}{% include "./cards/h-01.11ty.js" %}{% endhighlight %}
</article>